@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0"> Deneyim Ekleme Sayfası</h3>
</div>
@using (Html.BeginForm("AddExperience", "Experience", FormMethod.Post))
{
  
    <br />
    @Html.Label("Deneyim Başlığı")
    <br />
    @Html.TextBoxFor(x=> x.Name, new {@class="form-control"})
    <br />
    <label>Tarih</label>
    <br />
    <br />
    @Html.TextBoxFor(x=> x.Date, new {@class="form-control"})
    <br />
    <label>Resim</label>
    <br />
    <br />
    @Html.TextBoxFor(x=> x.ImageUrl, new {@class="form-control"})
    <label>İçerik</label>
    <br />
    <br />
    @Html.TextAreaFor(x=> x.Description,10,3, new {@class="form-control"})
    <br />

    <button class="btn btn-primary">Kaydet</button>



}