@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm("EditPortfolio", "Portfolio", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Portfolio Düzenleme Paneli </p>
                <form class="forms-sample">
                    <div class="form-group">
    @Html.HiddenFor(x => x.PortfolioId)
    <br />
                    </div>
                        <div class="form-group">
    @Html.Label("Proje Başlığı")
    @Html.TextBoxFor(x=> x.Name, new {@class="form-control"})
    @Html.ValidationMessageFor(x=> x.Name)
                    </div>
                    <br />
                            <div class="form-group">
    <label>Görsel 1</label>
    @Html.TextBoxFor(x=> x.ImageUrl, new {@class="form-control"})
    @Html.ValidationMessageFor(x=> x.ImageUrl)
                    </div><br />
                                <div class="form-group">
    <label>Görsel 2</label>
    @Html.TextBoxFor(x=> x.ImageUrl2, new {@class="form-control"})
    @Html.ValidationMessageFor(x=> x.ImageUrl2)
                    </div> <br />
                                    <div class="form-group">
    <label>Platform</label>
    @Html.TextBoxFor(x=> x.Platform, new {@class="form-control"})
    @Html.ValidationMessageFor(x=> x.Platform)
                    </div> <br />
                                        <div class="form-group">
    <label>Fiyat</label>
    @Html.TextBoxFor(x=> x.Price, new {@class="form-control"})
    @Html.ValidationMessageFor(x=> x.Price)
                    </div> <br />
                                            <div class="form-group">
    <label>Tamamlanma Oranu</label>
    @Html.TextBoxFor(x=> x.Value, new {@class="form-control"})
    @Html.ValidationMessageFor(x=> x.Value)
                    </div> <br />
    <br />
                                                <div class="form-group">
    <button class="btn btn-primary">Güncelle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


}