@model EntityLayer.Concrete.WriterMessage
@{
    ViewData["Title"] = "ReceiverMessageDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Mesaj Detayları</h1>
<form class="form-group">

  
    @Html.HiddenFor(x => x.WriterMessageId, new {@class = "form-control"})
    <br />
    @Html.Label("Alıcı adı")
    @Html.TextBoxFor(x => x.ReceiverName,new {@class = "form-control"})
    <br />
    @Html.Label("Alıcı Mail")
    @Html.TextBoxFor(x => x.Receiver,new {@class = "form-control"})
    <br />
    @Html.Label("Mesajınız")
    @Html.TextBoxFor(x => x.MessageContent, new {@class = "form-control"})



</form>