@model EntityLayer.Concrete.Service

@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm("AddService", "Service", FormMethod.Post))
{
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Hizmet Ekleme Paneli </p>
            <form class="forms-sample">
                <div class="form-group">
                    @Html.HiddenFor(x => x.ServiceId)
                    <br />
                </div>
                <div class="form-group">
                    @Html.Label("Servis Başlığı")
                    @Html.TextBoxFor(x=> x.Title, new {@class="form-control"})
                    @Html.ValidationMessageFor(x=> x.Title)
                </div>
                <br />
                <div class="form-group">
                    <label>Görsel </label>
                    @Html.TextBoxFor(x=> x.ImageUrl, new {@class="form-control"})
                    @Html.ValidationMessageFor(x=> x.ImageUrl)
                </div><br />
              
                <div class="form-group">
                    <button class="btn btn-primary">Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>}